.container{
    background: #eee;
    margin: 50px;
    padding: 0px;
    border: 3px solid #000;
    /* height: 400px; */
    width: 600px;
    display: flex;
    /* flex-wrap: wrap; */
   
}

.item1{
    background:orange ;
    /* align-self: stretch;
    order: -2; */
    /* flex-basis: 200px; */
    /* flex-shrink:0; */
    flex: 0 1 200px ; 
}
.item2{
    background:rgb(0, 195, 255) ;
    /* order:-1; */

}
.item3{
    background:rgb(255, 0, 191) ;
    /* align-self: end; */
    /* flex-grow: 1; */
}
.item4{
    background:rgb(0, 255, 221) ;
    /* align-self: stretch;
    order: -4; */
    flex:0 1 auto ;
}

.item{
    color: #eee;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0px;
    flex-grow: 1;
}