
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 20px;
    height: 20px;
    perspective: 160px;
}

.container .paper{
    width: 35px;
    height: 45px;
    background: white;
    border: 5px solid blueviolet;
    position: absolute;
    border-left: none;
    transform-origin: 0% 50%;
}

.container .paper:nth-child(2){
    transform: rotate(180deg);
}

